@import 'responsive';

.headerWrapperView {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px 12px 16px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: space-between;
  @include desktop {
    padding: 12px 50px 12px 100px;
  }
  .headerLogo {
    display: flex;
    @include desktop {
      display:none;
    }
  }
  .headerLogoBrowser {
    display: none;
    @include desktop {
      display: flex;
    }
  }
  .headerMenuIcon {
    display: flex;
    justify-content: center;
    @include desktop {
      display: none;
      padding: unset;
    }
  }
  
  .headerGroupView {
    display: none;
    @include desktop {
      display: flex;
      align-items: center;
      .titleItem {
        font-weight: 600;
        font-size: 18px;
        line-height: 190%;
        color: #258099;
      }
      .actionButton {
        width: 182px;
        height: 58px;
        border-radius: 12px;
        font-weight: 600;
        font-size: 18px;
        line-height: 190%;
        color: #ffffff;
      }
    }
  }
  .menuGroupView {
    @include mobile {
      display: flex;
    }
    @include tablet {
      display: flex;
    }
    @include desktop {
      display: none;
    }
  }
}
