@import 'responsive';

.wrapperView {

  margin-top: -76px;
  .contentView {
    padding: 24px 16px 24px 16px;
    background: linear-gradient(
    65deg,
    #cdfcff -0.94%,
    rgba(236, 254, 255, 0) 55.43%
  );
    .titleGroup {
      display: flex;
      flex-direction: column;
      margin-top: calc(241px - 128px);
      .title {
        margin-bottom: 32px;
      }
      .questionItem {
        margin-bottom: 32px;
      }
      .collapsible {
        align-items: center;
        background-color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: 1px solid #E3E3E3;
        border-bottom: none;
        text-align: left;
        border-radius: 12px;
        justify-content: space-between;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        span {
          text-align: left;
          font-weight: bold;
          font-size: 16px;
          line-height: 175%;
          color: #254261;
        };
      }
      .collapsible:after {
        content: url('../../public/icon/iconExpand.svg');
        font-weight: bold;
        float: right;
        margin-left: 5px;

      }
      .active:after {
        content: "\2212";
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: white;
        border: 1px solid #E3E3E3;
        border-radius: 12px;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        .divine{
          border: 1px solid #B8B8B8;
        }
        span {
          font-size: 16px;
          font-weight: 400;
          line-height: 212%;
          color: #585858;
          letter-spacing: 0.005em;
        }
      }
      span {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        line-height: 175%;
        color: #254261;
      }
    }
  }
}
