.wrapperSidebar {
  display: flex;
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  .sidebar {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background: rgba(70, 191, 199, 0.93);
    .headerSidebar {
      height: 79px;
      .image {
        padding: 16px 16px 0 0;
        display: flex;
        justify-content: right;
      }
    }
    .contentSidebar {
      margin-left: 16px;
      margin-right: 16px;
      display: flex;
      flex-direction: column;
      grid-gap: 31px;
      span {
        font-weight: 600;
        font-size: 18px;
        line-height: 190%;
        color: #ffffff;
      }
      .actionButton {
        width: 182px;
        height: 58px;
        border-radius: 12px;
        font-weight: 600;
        font-size: 18px;
        line-height: 190%;
        color: #ffffff;
      }
      .formButton {
        width: 166px;
        height: 58px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        background-image: url('/button/earlyAccess/default.png');
        background-size: 100% 100%;
        border: unset;
        &:hover {
          background-image: url('/button/earlyAccess/hover.png');
        }
        &:active {
          background-image: url('/button/earlyAccess/disable.png');
        }
      }
    }
  }
  .outsize {
    flex: 1;
  }
}
.sidebarOpen {
  width: 100vw;
}
.sidebarClose {
  width: 0px;
}
