@import 'responsive';
.wrapperContainer {
  padding: 44px 38px 64px 38px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  @include desktop {
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: left;
    margin: 0 7vw 0 7vw;
  }
  .contentView {
    .numberNotFound {
      @include desktop {
        font-size: 140px;
        line-height: 210px;
      }
      font-weight: 400;
      font-size: 80px;
      line-height: 120px;
      color: #254261;
    }
    .textNotFound {
      @include desktop {
        font-size: 20px;
        line-height: 190%;
      }
      font-weight: 400;
      font-size: 16px;
      line-height: 212%;
      text-align: center;
      letter-spacing: 0.005em;
      color: #254261;
    }
    .buttonStyled {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      @include desktop {
        justify-content: flex-start;
      }
      button {
        margin-top: 24px;
        margin-bottom: 24px;
        width: 182px;
        height: 58px;
        border-radius: 12px;
        font-weight: 600;
        font-size: 18px;
        line-height: 190%;
        color: #fff1df;
      }
    }
  }
}
