@import 'responsive';

.wrapperView {
  margin-top: 36px;
  text-align: center;
  .contentView {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
      269.05deg,
      #e3fdff -29.37%,
      rgba(236, 254, 255, 0) 64.62%
    );
    .firstContentWrapper {
      @include desktop {
        width: 100%;
      }
      display: flex;
      flex-direction: column;
      background: linear-gradient(
        64.75deg,
        #9fffe5 -5.33%,
        rgba(226, 255, 247, 0) 57.2%
      );
    }
    .title {
      margin: 48px 32px 32px 32px;
      font-weight: 600;
      font-size: 20px;
      line-height: 190%;
      color: #254261;
    }
    .videoBanner {
      margin-top: 48px;
      button {
        @include desktop {
          display: none;
        }
        position: absolute;
        top: 120%;
        left: 57%;
        width: 166px;
        height: 64px;
        border-radius: 12px;
        font-weight: 600;
        font-size: 18px;
        line-height: 190%;
        background: linear-gradient(90deg, #ffae4b 0%, #fdc431 100%);
        color: #fff1df;
      }
    }
    .groupView {
      @include desktop {
        width: 90%;
      }
      margin: 48px 16px 48px 16px;
      background: linear-gradient(180deg, #dbfcff 0%, #f3feff 100%);
      box-shadow: 10px 20px 20px rgba(236, 236, 236, 0.29);
      border-radius: 24px;
      display: flex;
      align-items: center;
      flex-direction: column;
      .groupViewInfo {
        display: flex;
        flex-direction: column;
        .title {
          font-weight: bold;
          font-size: 18px;
          line-height: 190%;
          color: #254261;
        }
        .info {
          margin: 24px 32px 32px 32px;
          font-weight: bold;
          font-size: 20px;
          line-height: 190%;
          color: #f0a03f;
        }
      }
      .groupViewBanner {
      }
    }
  }
}
