@import 'responsive';
.wrapperView {
  @include desktop {
    padding: 64px;
  }
  padding: 16px;
  .contentView {
    @include desktop {
      align-items: center;
      flex-direction: row-reverse;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 24px;
    .wrapperLeftView {
      @include desktop {
        flex: 1;
        margin-right: -80px;
        width: unset;
      }
      width: calc(100% - 90px);
      z-index: 2;
      display: flex;
      flex-direction: column;
      background: linear-gradient(180.05deg, #e0fcff 0.04%, #f3feff 99.96%);
      box-shadow: 10px 20px 20px rgb(236 236 236 / 29%);
      border-radius: 24px;
      padding: 32px 40px;
      .leftViewTitle {
        font-weight: bold;
        font-size: 18px;
        line-height: 184%;
        color: #254261;
        text-align: center;
      }
      .leftViewGroup {
        display: flex;
        flex-direction: row;
        .leftViewGroupInfo {
          margin-left: 16px;
          font-weight: 600;
          font-size: 16px;
          line-height: 40px;
          color: #254261;
        }
        .leftViewGroupHighlight {
          color: #f0a03f;
        }
      }
      .leftViewButton {
        width: 182px;
        height: 58px;
        border-radius: 12px;
        font-weight: 600;
        font-size: 18px;
        line-height: 190%;
        color: #ffffff;
      }
    }
    .WrapperRightView {
      position: relative;
      @include desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 833px;
      }
      background-color: #ffffff;
      box-shadow: -20px 20px 50px 20px rgba(203, 203, 203, 0.25);
      border-radius: 24px;
      padding: 24px;
      span {
        font-size: 16px;
        line-height: 200%;
        font-weight: bold;
        color: #254261;
      }
    }
  }
}
