@import 'responsive';
.wrapperView {
  @include desktop {
    margin-top: 100px;
    padding: 64px 100px 64px 100px;
    background: linear-gradient(
      65deg,
      #cdfcff -0.94%,
      rgba(236, 254, 255, 0) 55.43%
    );
  }
  padding: 16px;
  .contentView {
    @include desktop {
      align-items: center;
      flex-direction: row-reverse;
      max-width: 1342px;
      margin: auto;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 24px;
    .wrapperLeftView {
      padding: 32px;
      width: calc(100% - 64px);
      z-index: 2;
      display: flex;
      flex-direction: column;
      background: linear-gradient(180.05deg, #e0fcff 0.04%, #f3feff 99.96%);
      box-shadow: 10px 20px 20px rgb(236 236 236 / 29%);
      border-radius: 24px;
      @include desktop {
        flex: 1;
        margin-right: -80px;
        width: unset;
        padding: 88px;
        width: calc(100% - 176px);
      }
      .leftViewTitle {
        font-weight: bold;
        font-size: 18px;
        line-height: 184%;
        color: #254261;
        text-align: center;
        @include desktop {
          text-align: unset;
        }
      }
      .leftViewGroup {
        display: flex;
        flex-direction: row;
        align-items: center;
        .imageIcon {
          width: 20px;
          height: 20px;
          position: relative;
        }
        .leftViewGroupInfo {
          margin-left: 16px;
          font-weight: 600;
          font-size: 16px;
          line-height: 40px;
          color: #254261;
        }
        .leftViewGroupHighlight {
          color: #f0a03f;
        }
      }
      .leftViewButton {
        width: 182px;
        height: 58px;
        border-radius: 12px;
        font-weight: 600;
        font-size: 18px;
        line-height: 190%;
        color: #ffffff;
        margin: auto;
        @include desktop {
          margin: unset;
        }
      }
    }
    .WrapperRightView {
      position: relative;
      @include desktop {
        display: flex;
        flex-direction: column;
        max-width: 833px;
      }
      background-color: #ffffff;
      box-shadow: -20px 20px 50px 20px rgba(203, 203, 203, 0.25);
      border-radius: 24px;
      padding: 24px;
      span {
        font-weight: 600;
        font-size: 16px;
        line-height: 200%;
        color: #254261;
        @include desktop {
          font-size: 24px;
          line-height: 200%;
          font-weight: bold;
        }
      }
    }
  }
}
