@import 'responsive';

.wrapperView {
  position: relative;
  margin-top: -76px;
  .contentView {
    padding: 24px 16px 24px 16px;
    .titleGroup {
      display: flex;
      flex-direction: column;
      margin-top: calc(241px - 128px);
      align-items: center;
      span {
        margin-top: 24px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        line-height: 175%;
        color: #254261;
      }
      button {
        margin-top: 24px;
        margin-bottom: 24px;
        width: 182px;
        height: 58px;
        border-radius: 12px;
        font-weight: 600;
        font-size: 18px;
        line-height: 190%;
        color: #fff1df;
      }
    }
    .videoGroup {
      max-height: calc(429px - 2px - 49px);
      padding: 15px;
      background: #ffffff;
      box-shadow: 10px 10px 50px #ececec;
      border-radius: 16px;
      img {
        border-radius: 16px;
        width: 584px;
        height: 381px;
      }
    }
  }
  .layoutImage {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}
