@import 'responsive';
.wrapperView {
  background: linear-gradient(
    79.37deg,
    #fde6e8 -11.2%,
    rgba(255, 245, 247, 0) 70.51%
  );
  margin-top: -76px;
  .contentView {
    padding: 24px 16px 24px 16px;
    .titleGroup {
      display: flex;
      flex-direction: column;
      margin-top: calc(241px - 128px);
      .title {
        margin-bottom: 32px;
      }
      .questionItem {
        margin-bottom: 32px;
      }
      .collapsible {
        align-items: center;
        background-color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: 1px solid #e3e3e3;
        border-bottom: none;
        text-align: left;
        border-radius: 12px;
        justify-content: space-between;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        span {
          text-align: left;
          font-weight: bold;
          font-size: 16px;
          line-height: 175%;
          color: #254261;
        }
      }
      .collapsible:after {
        content: url('../../public/icon/iconDropdown.svg');
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      .active:after {
        content: '\2212';
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: white;
        border: 1px solid #e3e3e3;
        border-radius: 12px;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        .divine {
          border: 1px solid #b8b8b8;
        }
        span {
          font-size: 16px;
          font-weight: 400;
          line-height: 212%;
          color: #585858;
          letter-spacing: 0.005em;
        }
        .infoWrraperView {
          margin-bottom: 16px;
          .infoWrapper {
            border: 1px solid #e3e3e3;
            border-radius: 12px;
            padding: 16px;
            .infoContent {
              display: flex;
              grid-gap: 12px;
              justify-content: flex-start;
              .imageContent {
                display: flex;
                justify-content: center;
                border-radius: 12px;
                background: #c4c4c4;
                width: 70px;
                height: 46px;
              }
              .textContent {
                display: flex;
                flex-direction: column;
                max-width: 195px;
                align-items: flex-start;
                .textUser {
                  font-family: 'Poppins';
                  font-style: normal;
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 214%;
                  color: #254261;
                }
                .textPosition {
                  text-align: left;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 200%;
                  letter-spacing: 0.005em;
                  color: #8e8e8e;
                  white-space: break-spaces;
                }
                .textPublished {
                  margin-top: 12px;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 34px;
                  letter-spacing: 0.005em;
                  text-decoration-line: underline;
                  color: #f0a03f;
                }
              }
            }
          }
        }
      }
      span {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        line-height: 175%;
        color: #254261;
      }
    }
  }
}
