@import 'responsive';
.divine {
  border-top: 1px dashed #46bfc7;
  margin-top: 50px;
}
.wrapperView {
  width: 100%;
  margin-top: 24px;
  .contactGroup {
    margin-bottom: 51px;
    .firstContact {
      margin: 0 5vw 0 5vw;
      @include desktop {
        flex-direction: row;
        justify-content: space-between;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      .leftFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include desktop {
          flex-direction: row;
          grid-gap: 5vw;
        }
      }
      .rightFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include desktop {
          flex-direction: row;
          grid-gap: 5vw;
        }
        .rightContent {
          display: flex;
          font-weight: 400;
          font-size: 16px;
          line-height: 200%;
          color: #46bfc7;
          align-items: center;
          .wrapperImage {
            position: relative;
            width: 24px;
            height: 24px;
          }
          span {
            margin-left: 25px;
            font-weight: 400;
            font-size: 18px;
            line-height: 37px;
            color: #46BFC7;
          }
        }
      }
    }
    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 200%;
      color: #46bfc7;
    }
  }
  .logoGroup {
    padding: 51px 16px 64px 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid #b8b8b8;
    align-items: center;
    @include desktop {
      padding: 51px 5vw 64px 5vw;
      flex-direction: row;
      justify-content: space-between;
    }
    .wrapperImage {
      position: relative;
      width: 133px;
      height: 32px;
      @include desktop {
        width: 200px;
        height: 48px;
      }
    }
    span {
      font-size: 14px;
      line-height: 200%;
      letter-spacing: 0.005em;
      color: #b8b8b8;
      margin-top: 16px;
      @include desktop {
        margin-top: unset;
        font-size: 18px;
        line-height: 194%;
      }
    }
  }
}
