@import 'color';
html,
body {
  font-family: 'Poppins', sans-serif;
  margin: unset;
}
main {
  display: flex;
  flex-direction: column;
}

.cursor {
  cursor: pointer;
}
button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $v-bg-F0A03F;
  border: unset;
  &:hover {
    background-color: $v-bg-00BA88;
  }  
  &:active {
    background-color: $v-bg-46BFC7;
  }
}